$dark-gray: #3B3F46; 
$m-gray: #9C9EA0;
$gray: #F0F0F0;
$blue: #3498DB;

body {
  list-style: none;
  font-family: sans-serif;
}

.a {
  border: 1px solid royalblue;
}

.b {
  border: 1px solid violet;
}

.c {
  border: 1px solid orange;
}

.container {
  padding-top: 3vh;
  position: relative;
}

.nav {
  a {
    text-decoration: none;
    color: $m-gray;
  }
  a + a {
    margin-left: 10px;
  }
}

.nav-right {
  width: 580px;
}

.search {
  background-color: $gray;
  border: 0px;
  i {
    font-size: 25px;
    color: $m-gray;
    :hover {
      color: $blue;
    }
  }
}

.search-box {
  padding-left: 25px;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rounded {
  height: 60px;
  border-radius: 25px;
}

.lh {
  line-height: 60px;
}

.dropdown-group {
  font-size: 0px;
  .dropdown {
    display: inline-block;
    > a {
      font-size: 1rem;
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background-color: $dark-gray;
      padding-left: 20px;
      color: $blue;
      border-radius: 25px 0 0 25px;
    }
    .dpd-2 {
      border-left: 1px solid $m-gray;
      border-radius: 0 25px 25px 0;
    }
    ul {
      background-color: $dark-gray;
      li {
        a {
          color: #fff;
          font-size: 10px;
          transition: 0.3s;
        }
        a:hover {
          color: $m-gray;
        }
      }
    }
  }
}

.logobar {
  margin: 30px 0;
}

.logo {
  margin-left: -15px;
  width: 100%;
  max-width: 344px;
}

.tel {
  font-size: 2em;
  line-height: 3;
  color: $m-gray;
  i {
    margin: 10px;
    color: $blue;
  }
}

.cart-group {
  position: relative;
  height: 60px;
  margin: 10px 0;
  .cart-icon {
    background-color: $blue;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    color: #fff;
  }
  .cart-position {
    position: absolute;
    left: 10px;
  }
  .cart {
    background-color: $gray;
    height: 60px;
    line-height: 60px;
    padding-left: 70px;
    text-decoration: none;
    text-align: center;
    color: $m-gray;
    .title {
      color: $dark-gray;
    }
  }
  ul {
    margin-left: 40px;
    padding: 5px 15px;
    background-color: $gray;
  }
}

.dropdown-toggle:hover > .cart {
  transition: 0.5s;
  background-color: $dark-gray;
  color: #fff;
  span {
    color: #fff;
  }
  + .cart-icon {
    border-radius: 25px 0 0 25px;
  }
}    

.carousel-text {
  border: none;
  font-size: 10vw;
}


.products {
  ul {
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      padding: 0;
      a {
        display: block;
        font-size: 0.5vw;
        background-color: $dark-gray;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 5px solid $blue;
      }
      + li {
        border-left: 1px solid $gray;
      }
    }
  }
}

.caption-img {
  width: 100%;
}

.categories {
  font-family: "Open Sans", sans-serif;
  height: auto;
  background-color: $dark-gray;
  .outter {
    position: relative;
    height: 0;
    padding-top: 80%;
    margin-bottom: 8%;
  }
  .tinted {
    background: url(http://sparklingspur.com/wp-content/uploads/2011/08/beautiful-eye-blue-contact-lens.jpg) top/100%;
    > .tinted {
      background: $blue;
    }
  }
  .accessories {
    background: url(https://edc2.healthtap.com/ht-staging/user_answer/reference_image/4583/large/contact_lens.jpeg?1386669452) bottom/100%;
    > .accessories {
      background: #E74C3C; 
    }
  }
  .eyes-care {
    background: url(http://www.piercepioneer.com/wp-content/uploads/2015/06/contact-lens.jpg) top/100%;
    > .eyes-care {
      background: #96CA2D;
    }
  }
  .product-text {
    width: 100%;
    height: 0;
    padding: 5% 20px 30% 20px;
    background-color: $blue;
    position: absolute;
    bottom: 0;
    font-size: 2.5vw;
    line-height: 1;
    color: #fff;
    .product-name {
      width: 90%;
      float: left;
      span {
        font-size: 1.5vw;
        color: $dark-gray;
      }
    }
    i {
      font-size: 50px;
      line-height: 6vw;
      position: absolute;
      right: 15px;
    }
  }
}

.recommand {
  height: 80vh;
  background: linear-gradient(rgba(100, 120, 120, 0.6), rgba(100, 120, 120, 0.6)), url(http://vaughteyeassociates.com/clients/13366/images/iStock_000023383541Medium.jpg) top/100% fixed;
  color: #fff;
  .recommanded {
    float: none;
  }
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 6vw;
    text-align: center;
    margin: 8% 0 3% 0;
  }
  h3 {
    font-size: 1.2vw;
    line-height: 1.5;
    color: $gray;
    margin-bottom: 5%;
  }
  .more-info {
    display: block;
    background-color: $dark-gray;
    color: #fff;
    line-height: 60px;
    text-decoration: none;
    position: relative;
    p {
      padding-left: 10px;
    }
    .info-icon {
      background-color: $blue;
      position: absolute;
      right: -1px;
      top: 0;
      width: 60px;
      text-align: center;
      i {
        font-size: 25px;
      }
    }
  }
}

.oofd {
  font-family: "Open Sans", sans-serif;
  margin: 8vw 0;
  color: #fff;
  position: relative;
  i {
    font-size: 8vw;
    position: absolute;
    left: 0;
    bottom: 15px;
  }
  h3 {
    margin: 0;
    font-size: 50px;
  }
  h4 {
    font-size: 1.5vw;
  }
}

.contact-bg {
  background-color: $blue;
}
.delivery-bg {
  background-color: $dark-gray;
}

.rotate {
  -webkit-transform: rotate(314deg);
  -moz-transform: rotate(314deg);
  -o-transform: rotate(314deg);
  writing-mode: lr-tb;
}

.item {
  position: relative;
  font-family: "Open Sans", sans-serif;
  .item-img {
    position: relative;
    display: block;
    background-color: $gray;
    width: 100%;
    height: 0;
    padding-top: 100%;
    /* height: 250px; */
    overflow: hidden;
    .bg {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .sale-angle {
      position: absolute;
      width: 80px;
      height: 80px;
      left: -20px;
      top: 0;
      border: 60px solid $m-gray;
      border-color: $m-gray transparent transparent transparent;
      border-left: 0;
      .sale {
        position: absolute;
        color: $gray;
        top: -48px;
        left: 28px;
      }
    }
  }
}
